ion-toolbar ion-title img {
    height: 1.5em;
    display: block;
    width: 1.5em;
  }
  ion-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    font-weight: normal; 
    margin: 0; //para alinhar
  }
  
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #040404;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#titulo {
  color:  #84adad;
}