<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <ion-row  class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png" alt=""></ion-col>
        <ion-col size="auto">Adicionar</ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar color="light">
    Adicionar
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <ion-label position="floating">Adicionar Remédios</ion-label>
    <ion-input type="text" [(ngModel)]="NovoRemedioNome"></ion-input>

    <ion-button fill="clear" slot="end" (click)="adicionaRemedio()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
    
</ion-content>
