<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png"
            alt=""></ion-col>
        <ion-col id="titulo" size="auto"><strong>Ajuda</strong></ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="expandItem(item)" *ngFor="let item of items">
    <ion-card-header>
      <ion-card-title>Como editar um medicamento?</ion-card-title>
    </ion-card-header>
      
     <ion-card-content>
      <ion-icon slot="right" name="help-circle-sharp"></ion-icon>
      <app-expandable expandHeight="100px" [expanded]="item.expanded">
        <h1>
          Vá para página incial e lá você encontrará um botão para editar alguma informação sobre seu medicamento
        </h1>
      </app-expandable>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="expandItem2(item2)" *ngFor="let item2 of items2">
    <ion-card-header>
      <ion-card-title>Como adicionar um medicamento ?</ion-card-title>
    </ion-card-header>
      
     <ion-card-content>
      <app-expandable expandHeight="100px" [expanded]="item2.expanded">
        <h1>
          Selecione o botão Página inicial, em seguida clique no botão com o sinal de (+) e adicione seu medicamento nos campos que aparecem.
        </h1>
        
      </app-expandable>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="expandItem3(item3)" *ngFor="let item3 of items3">
    <ion-card-header>
      <ion-card-title>Como localizar farmácias próximo a minha localização?</ion-card-title>
    </ion-card-header>
      
     <ion-card-content>
      <app-expandable expandHeight="100px" [expanded]="item3.expanded">
        <h1>
          Vá no botão escrito Farmácias ao redor e coloque seu endereço, o aplicativo mostrará farmácias perto da sua localização
        </h1>
        
      </app-expandable>
    </ion-card-content>
  </ion-card>



</ion-content>