<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png"
            alt=""></ion-col>
        <ion-col id="titulo" size="auto"><strong>Ajuda</strong></ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" class="ion-padding" class="cardAjuda">
    <ion-card-header>
      <ion-card-title>Perguntas frequentes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>Como adicionar um novo remédio</li>
        <li>Como acessar o Maps</li>
        <li>Como funciona o calendário</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>