 
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <ion-row  class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png" alt=""></ion-col>
        <ion-col size="auto"><strong>Ajuda</strong></ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Perguntas Frequentes</strong>
    <ul>
      
      <li>Como Acessar o Maps</li>
      <li>Como funciona o calendário</li> 
      <li>Como utilizar o App corretamente</li> 
    </ul>
   </div>
</ion-content>

