<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-title id="titulo">
      <strong>Informações e contato</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscream]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre Nos</ion-title>
    </ion-toolbar>
    </ion-header>

    <div id="container">
      <strong>Como foi criado o app e contatos</strong>
      
      <ul>
        
        <li>Emails:(gabistavik@hotmail.com,Bellabarao@icloud.com,gutomoreto@gmail.com
          ,heskiian@gmail.com e stephanyfrageri10@gmail.com). </li>
        <li>O app foi criado com a ideia de ajudar as pessoas a não esquecerem seus medicamentos e conseguir auxiliar seus familiares a ter o controle em tomar o remédio no horário certo.</li> 
        
      </ul>

     </div>
</ion-content>

