<ion-header>
  <ion-toolbar color = "primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-button>
    <ion-title id="titulo"><strong>Maps</strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <div class="form-group">
            <ion-title>Procure a farmacia perto de você</ion-title>
            <input
              type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Digite aqui" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
          </div>
          <agm-map 
            [latitude]="latitude" 
            [longitude]="longitude" 
            [zoom]="20" >
              <agm-marker 
              [latitude]="latitude" 
              [longitude]="longitude"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
          </agm-map>
          <h5>Address: {{address}}</h5>
        </ion-card>
      </ion-col>
      <ion-col size="6">
         <ion-card>  
            <ion-item-sliding>
              <ion-item>
                <ion-label>Item</ion-label>
              </ion-item>
            </ion-item-sliding>
        </ion-card>
      </ion-col>
  
</ion-row>
</ion-grid>
</ion-content>

