<ion-header>
  <ion-toolbar color = "primary">
    <ion-button slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-button>
    <ion-title id="titulo"><strong>Maps</strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card id="card">
    <div *ngIf="apiLoaded | async">
      <google-map height="400px"
        width="700px"
        [center]="center"
        [zoom]="zoom"
        (mapMousemove)="move($event)"
        (mapClick)="addMarker($event)">
        <map-marker *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"></map-marker>

      </google-map>
    </div>
  </ion-card>          
</ion-content>

