ion-content {
    --background: url('https://static.vecteezy.com/ti/vetor-gratis/p1/1843071-roxo-escuro-rosa-desfocado-vetor.jpg') no-repeat center center / cover !important;
  }

#titulo {
    color: #ffffff;
}

#card {
    height:auto;
    width:fit-content;
}