<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Bem vindo ao Meu Remédio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-col><img class="logo" src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png" alt="" height="400px"></ion-col> 
   <ion-button size="small" (click)="login() " expand="block">   
    <ion-icon  slot="start" name="logo-google"> </ion-icon>
      Login com Google
  </ion-button>
</ion-content>
