<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row  class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png" alt=""></ion-col>
        <ion-col id="titulo" size="auto"><strong>Meu Remédio</strong>
          
        </ion-col>
        
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Seja bem vindo ao Meu Remedio! </h1>
  <ion-image></ion-image>
  <ion-button (click)="login() " expand="block">
    <ion-icon  slot="start" name="logo-google"> </ion-icon>
    Fazer login com a conta Google
  </ion-button>
</ion-content>
