ion-toolbar ion-title img {
  height: 1.7em;
  display: block;
  width: 1.7em;
  margin-left: 0cm;
}
  ion-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17pt;
    font-weight: normal; 
    margin: 0; //para alinhar
  }
  
  ion-content {
    --background: url('https://static.vecteezy.com/ti/vetor-gratis/p1/1843071-roxo-escuro-rosa-desfocado-vetor.jpg') no-repeat center center / cover !important;
  }

agm-map {
  height: 300px;
  width: auto;
}


ion-card {
  height: 446px;
  width: 330px;

} 


