<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row  class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png" alt=""></ion-col>
        <ion-col size="auto"><strong>Calendário</strong></ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content id="calendario">
  <ion-card>
    <iframe src="https://calendar.google.com/calendar/embed?src=lqjgbr4rjijlvvc34042pcd3n4%40group.calendar.google.com&ctz=America%2FSao_Paulo&amp;src=bHFqZ2JyNHJqaWpsdnZjMzQwNDJwY2QzbjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=cHQuYnJhemlsaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%234285F4&amp;color=%237986CB&amp;title=Organize%20seus%20Remedios" style="border:solid 1px #777" width="1875" height="820" frameborder="0" scrolling="no"></iframe>
  </ion-card>
</ion-content>
