<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png"
            alt=""></ion-col>
        <ion-col id="titulo" size="auto"><strong>Meu Remédio</strong>
        </ion-col>

      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">

  <ion-card class="ion-padding" class="cardRemedio">
    <ion-list *ngIf="remedios.length > 0; else emptyRemedios" class="listRemedio">
      <ion-item *ngFor='let remedio of remedios' color="dark" (click)="openModal(remedio)">
        <ion-label>
          <h3>Remédio</h3>
          <h4>{{remedio.name}}</h4>
          <h3>Dose</h3>
          <h4>{{remedio.dose}}</h4>
          <h3>Horário</h3>
          <h4>{{remedio.hora}}</h4>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #emptyRemedios>
      <ion-text color="medium" class="ion-text-center">
        <p><strong>Adicione os seus remédios</strong></p>
      </ion-text>
    </ng-template>
  </ion-card>

  <ion-fab routerLink="/adicionar" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button (click)="logout()" vertical="bottom" expand="block" color="tertiary">
    <ion-icon slot="start" name="exit"></ion-icon>
    Efetuar logout
  </ion-button>


</ion-content>