<ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-title id="titulo">
      <strong>Página de Ajuda</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscream]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ajuda</ion-title>
    </ion-toolbar>
    </ion-header>

    <div id="container">
      <strong>Perguntas Frequentes</strong>
      <ul>
        
        <li>Como Acessar o Maps</li>
        <li>Como funciona o calendário</li> 
        <li>Como utilizar o App corretamente</li> 
      </ul>

     </div>
</ion-content>
