h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  
  ion-button {
    color: white;
  }
  
  .btn {
    background-color: rgb(29, 49, 141);
    padding: 1rem 2rem;
    border-radius: 0;
    cursor: pointer;
  }
  
  .calendar ::ng-deep {
    .cal-day-number {
      color: black;
    }
  }