<ion-tabs>
  <ion-tab-bar slot="bottom" color = "dark">

    <ion-tab-button tab="pagina-inicial">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Página Inicial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendario">
      <ion-icon name="calendar-sharp"></ion-icon>
      <ion-label>Calendário</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="adicionar">
      <ion-icon name="add-circle-sharp"></ion-icon>
      <ion-label>Adicionar Remédio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajuda">
      <ion-icon name="help-circle-sharp"></ion-icon>
      <ion-label>Ajuda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sobre">
      <ion-icon name="information-circle-sharp"></ion-icon>
      <ion-label>Sobre Nós</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
