
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <ion-row  class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png" alt=""></ion-col>
        <ion-col id="titulo" size="auto"><strong>Sobre</strong></ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container">
      <strong>Como foi criado o app e contatos</strong>
      <h3>Emails</h3>
      <ul>
        <li>gabistavik@hotmail.com</li>
      </ul>
      <ul>
        <li>Bellabarao@icloud.com</li>
      </ul>
      <ul>
        <li>gutomoreto@gmail.com</li>
      </ul>
      <ul>
        <li>heskiian@gmail.com</li>
      </ul>
      <ul>
        <li>stephanyfrageri10@gmail.com</li>
      </ul>
      <h3>Porque o app foi criado?</h3>
        <p>O app foi criado com a ideia de ajudar as pessoas a não esquecerem seus medicamentos e conseguir auxiliar seus familiares a ter o controle em tomar o remédio no horário certo</p>
    </div>
</ion-content>

