<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <ion-row class="ion-padding">
        <ion-col size="auto"><img src="https://cdn.pixabay.com/photo/2018/06/24/17/34/medical-3495036_960_720.png"
            alt=""></ion-col>
        <ion-col id="titulo" size="auto"><strong>Sobre</strong></ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" class="ion-padding" class="cardSobre">
    <ion-card-header>
      <ion-card-title>Porque o app foi criado?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O "Meu Remédio" foi desenvolvido com o intuito facilitar o controle dos remédios que tomamos no nosso dia a dia,
      além de nos alertar no horário em que devemos tomá-los.
      <br>
      Evitando assim riscos à saúde dos usuários, principalmente se forem considerados os medicamentos essenciais no controle de doenças e prevenção de
      complicações. 
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" class="ion-padding" class="cardContato">
    <ion-card-header>
      <ion-card-subtitle>E-mails</ion-card-subtitle>
      <ion-card-title>Para entrar em contato:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li>bellabarao@icloud.com</li>
      </ul>
      <ul>
        <li>gabistavik@hotmail.com</li>
      </ul>
      <ul>
        <li>gutomoreto@gmail.com</li>
      </ul>
      <ul>
        <li>heskiian@gmail.com</li>
      </ul>
      <ul>
        <li>stephanyfrageri10@gmail.com</li>
      </ul>
    </ion-card-content>
  </ion-card>

</ion-content>